<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Deshevin</title>
</head>

<body>
    <h1><a href="{% url 'main' %}">Deshevin</a></h1>
    <nav>
        <a href="{% url 'main' %}">Главная</a>
        {% if user.is_anonymous %}
            <a href="{% url 'registration' %}">Регистрация</a>
            <a href="{% url 'auth' %}">Вход</a>
        {% else %}
            Вы авторизованы как {{ user.username }}
            <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </nav>
    <hr>

    {% block content %} {% endblock %}
</body>

</html>