{% extends 'web/base.html' %}
{% block content %}
    <h1>Регистрация</h1>
    {% if is_success %}
        <p>Спасибо за регистрацию!</p>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Зарегистрироваться</button>
        </form>
    {% endif %}
{% endblock %}